.is-splash.flowplayer,
.is-paused.flowplayer {

	background: rgba(255, 255, 255, 1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 30%, rgba(245, 245, 245, 1) 74%, rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(11%, rgba(255, 255, 255, 1)), color-stop(30%, rgba(245, 245, 245, 1)), color-stop(74%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(232, 232, 232, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 30%, rgba(245, 245, 245, 1) 74%, rgba(232, 232, 232, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 30%, rgba(245, 245, 245, 1) 74%, rgba(232, 232, 232, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 30%, rgba(245, 245, 245, 1) 74%, rgba(232, 232, 232, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 30%, rgba(245, 245, 245, 1) 74%, rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=1);
}

.is-splash.flowplayer .fp-ui,
.is-paused.flowplayer .fp-ui {
	background: url("../Icons/play_icon.svg") no-repeat scroll center center;
	background-size: 12%;
}

.is-disabled.flowplayer .fp-ui {
	visibility: hidden;
	cursor: auto;
}