/* specific page styles for extension "tx_cssstyledcontent" */
	.csc-textpic-intext-right-nowrap .csc-textpic-text { margin-right: 480px; }
	.csc-textpic-intext-left-nowrap .csc-textpic-text { margin-left: 480px; }
	.csc-textpic-intext-left-nowrap-260 .csc-textpic-text { margin-left: 260px; }