/**************************************/
/* Default styles for news extension */
/**************************************/
.news .clear {
	clear: both;
}

.news .nav ul {
	float: left;
	display: inline;
	margin: 0;
}

.news .nav li {
	float: left;
}

.news .nav a {
	float: left;
	display: block;
}

.news .nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.news .article.default-news:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0px;
}

.news .article:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.news .article .news-img-wrap a {
	display: block;
	max-width: 100%;
}

.news .article .news-img-wrap img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.news .article .teaser-text {
	margin: 0 0 10px 0;
}

.news-single .article .teaser-text {
	margin: 0 0 20px 0;
}

.news .article p,
.news .article .csc-element {
	margin-bottom: 20px;
	padding: 0;
}

.news .article div p:last-child,
.news .article p:last-child {
	margin-bottom: 0;
}

.news .news-detail-information {
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #eee;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #888;
}

.news .news-detail-information p {
	float: left;
	margin-bottom: 0;
}

.news .news-detail-information span {
	display: inline-block;
	padding-right: 8px;
}

.news .news-detail-information span:last-child {
	border-right: 0;
}

.news .news-detail-information .news-category a {
	text-transform: uppercase;
}

.news .no-news-found {
	color: #DB0202;
	font-style: italic;
}

.news .page-navigation p {
	float: left;
}

.news .page-navigation ul {
	float: right;
}

.news .page-navigation ul li {
	float: left;
	display: block;
	padding: 0 2px;
	background: none;
}

.news .page-navigation ul li a {
	display: block;
}

/* related files & links */
.news-single .news-related {
	padding-left: 0;
}

.news-single .news-related ul {
	padding-left: 0;
	list-style: none;
}

.news-single .news-related ul li,
.news-single .news-related-files ul li {
	margin-bottom: 0;
	line-height: 1.4;
}

.news-single .news-related-files ul li {
	margin-left: 22px;
}

.news-single .news-related-files ul li a:before {
	content: "c";
	font-family: "EawagIconFont";
	color: #0C5573;
	vertical-align: sub;
	padding-right: 7px;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	margin-left: -22px;
	position: absolute;
}

.news-related.news-related-links ul li span,
.news-related ul li span .news-related-files-description,
.news-related ul li span .news-related-files-info {
	display: inline;
	color: #000;
	padding: 0;
	margin: 0 0 0 4px;
	border: none;
}

/* category menu view */
.news-category-view ul li {
	padding: 5px 8px;
}

.news-category-view ul li li {
	padding: 2px 8px 2px 12px;
}

.news-category-view > ul > li:nth-child(even) {
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.news-category-view .category-desc {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ddd;
}

/* single view */

.news-single .article {
	margin-top: 70px;
}

.news-single .footer {
	margin: 0 0 44px 0;
	padding: 0;
}

.news-single .footer > p {
	width: auto;
	float: left;
	line-height: 18px;
}

.news-single .article .news-detail-image {
	width: 100%;
	float: left;
}

.news-single .article .news-img-wrap img {
	float: none;
}

.news-single ul.news-list-tags {
	float: left;
	margin: 0;
	padding-left: 0;
}

.news-single ul.news-list-tags li {
	float: left;
	list-style: none;
	line-height: 20px;
	padding: 0 3px;
}

.news-single ul.news-list-tags li.title {
	color: #000000;
}

.news-single ul.news-list-tags li:after {
	content: ",";
}

.news-single ul.news-list-tags li.title:after {
	content: "";
}

.news-single ul.news-list-tags li:last-child:after {
	content: "";
}

.news-single .teaser-text {
	clear: both;
	font-size: 15px;
	color: #888;
}

aside .csc-element:first-child h3 {
	margin-top: -5px;
}

.news-text-wrap {
	clear: both;
	margin-bottom: 10px;
}

.news-text-wrap h4 {
	margin: 25px 0 15px 0;
}

.news-img-caption {
	color: #888;
}

/* related news + files */
.news-related-wrap {
	display: table;
	margin-top: 20px;
	width: 100%;
}

.news-related {
	width: 50%;
	padding: 15px;
	border: 1px solid #eee;
	display: table-cell;
}

.news-related ul li {
	line-height: 1em;
	margin-bottom: 12px;
}

.news-related ul li span {
	border-right: 1px solid #DDDDDD;
	display: inline-block;
	margin-right: 8px;
	padding-right: 8px;
	color: #888;
}

.news-related ul li span:last-child {
	border-right: 0;
	padding-right: 0;
}

.news-related h4 {
	margin-bottom: 10px;
}

.news-related-files ul li {
	margin-bottom: 20px;
}

.news-related-files .news-related-files-link .jpg {
	background-position: 0 0;
}

.news-clear {
	clear: both;
}

/* additional styles for news list */

.news .default-news {
	page-break-inside: avoid
}

.news .article.topnews,
.news-list-view .article {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #C8C6BF;
}

.news .article.teaser-list,
.news .article.topnews .news-image {
	float: left;
	margin: 0 0 20px 0;
}

.news .default-news .news-image {
	width: 19.714285714285715%;
	padding-right: 20px;
	float: left;
}

.news .default-news .news-image + .news-information {
	width: 80.28571428571428%;
	float: left;
}

.news .header h2 {
	margin: 0 0 5px 0;
}

.news-list-view .article h2 {
	margin: 6px 0 5px 0;
}

.layout-home .news-list-view .article h2 {
	margin-top: -5px;
}

.news .header h1 {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
}

.news .news-detail-image .news-img-wrap {
	margin-bottom: 25px;
}

.news-information .news-list-date {
	line-height: 12px;
	vertical-align: top;
}

.news .teaser-text p {
	margin: 0 0 5px 0;
	font-family: Arial, sans-serif;
	color: #000000;
	font-weight: bold;
}

.news-list-view .teaser-text p {
	font-weight: normal;
}

.news-list-view .article {
	border-bottom: 1px solid #C8C6BF;
}

/* news tags */

.news .news-tags.list,
.news .news-category.list {
	float: left;
	display: block;
	margin-top: -10px;
	margin-bottom: 0;
	padding: 0;
}

	.news .news-tags.list li,
	.news .news-category.list li {
		float: left;
		list-style: none;
		margin-right: 4px;
		margin-top: 4px;
	}

	.news .news-tags.list li a,
	.news .news-category.list li a {
		padding: 4px 8px;
		color: #fff;
		background: #0C5574;
	}

	.news .news-tags.list li a.active,
	.news .news-tags.list li a:hover,
	.news .news-category.list li a.active,
	.news .news-category.list li a:hover {
		-o-transition: .3s;
		-ms-transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
		transition: .3s;

		background: #118EC6;
		text-decoration: none;
	}

/* news-list-loading */

.news-list-loading {
	display: none;

	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 -10px;
	background: #fff;
	opacity: 0.8;
}

	.news-list-loading .news-list-loading-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -16px 0 0 -15px;
		width: 32px;
		height: 32px;
	}

.news .more-news,
.news .archive-news {
	margin: 10px 0 0 0;
}

.news .archive-news {
	font-size: 14px;
	margin-top: -10px;
}

.news .more-news a:after,
.news .archive-news a:after {
	position: absolute;
	content: 't';
	margin: 6px 0 0 8px;
	font-family: EawagIconFont;
	font-size: 8px;
	color: #0C5574;
}

/* teaser list */

.news .article.teaser-list {
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #C8C6BF;
	width: 100%;
}

.news .article.teaser-list:last-child {
	border: none;
}

.news .article.teaser-list.default.default-news .news-information,
.news .article .news-information.no-image {
	width: 100%;
}

.news .article.teaser-list.default .news-list-date {
	float: left;
	width: auto;
	margin: 0 4px 0 0;
	font-size: 14px;
	top: 0;
	line-height: 20px;
}

.news .article.teaser-list.default .news-list-date:after {
	content: '-';
	margin: 0 0 0 4px;
}

.news .article.teaser-list .teaser-text p {
	font-weight: normal;
}

/* teaser list short */

.news .article.teaser-list.short {
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 15px 0;
}

.news .article.teaser-list.short h5 {
	margin: 0;
}

.news .article.teaser-list.short h5 a {
	color: #118ec6;
	font-size: 14px;
	font-weight: bold;
}

/* teaser list images */
.news .article.teaser-list.images {
	margin: 0 0 15px 0;
}

.news-backlink-wrap {
	top: 0;
	position: absolute;
}

.news-backlink-wrap:before {
	content: "v";
	font-family: "eawagiconfont";
	font-size: 9px;
	color: #0C5573;
	margin-right: 5px;
}


.date-tab {
	clear: both;
	position: relative;
	height: 26px;
}

.date-tab ul {
	height: 100%;
	padding: 0;
	border-bottom: 1px solid #C8C6BF;

}

.date-tab ul li {
	float: left;
	width: 60px;
	height: 100%;
	text-align: center;
	text-decoration: none;
	list-style: none;
	margin-right: 5px;
	padding: 0;
}

.date-tab ul li a {
	display: block;
	height: 100%;
	font-weight: bold;
	line-height: 26px;
	color: #118ec6;
	background: #E5E5E5;
}

.date-tab ul li a:hover {
	color: #000000;
	background: transparent;
	text-decoration: none;
	border: 1px solid #C8C6BF;
	border-bottom: none;
}

.date-tab ul li a.active {
	color: #000000;
	border: 1px solid #C8C6BF;
	border-bottom: none;
	background: #EFEFEF;
	height: calc(100% + 1px);
}

.header-archive {
	border-bottom: 1px solid #C8C6BF;
	margin-bottom: 20px;
	padding-bottom: 3px;
}

.news-scienceTeaser {
	float: left;
	width: 100%;
}

	.news-scienceTeaser .header h2 {
		font-family: 'The Serif Bold', Arial, sans-serif;
	}

	.news-scienceTeaser .scienceTeaser-Item {
		float: left;
		padding-bottom: 5px;
		border-bottom: 1px solid #C8C6BF;
		margin-bottom: 18px;
	}

	.news-scienceTeaser .teaser-text .additional-text p {
		font-weight: normal;
	}

	.news-scienceTeaser .teaser-text .additional-text {
		float: left;
		display: -webkit-box;
		max-height: 10em; /* 7 lines */

		overflow: hidden;
		text-overflow: -o-ellipsis-lastline;
	}
		.news-list-view .news-scienceTeaser .teaser-text .additional-text {
			max-height: none;
			display: block;
		}

	.news-scienceTeaser .teaser-text .additional-text.show {
		display: block;
		height: auto;
		max-height: 100%;
		overflow: visible;
	}

	.news-scienceTeaser .teaser-text .additional-text:after {
		content: '';
	}

	.news-scienceTeaser .teaser-text .additional {
		color: #118EC6;
		float: right;
		cursor: pointer;
		position: relative;
		right: 15px;
	}

	.division .news-scienceTeaser .teaser-text .additional {
		color: #616f1b;
		margin-right: 16px;
	}

	.news-scienceTeaser .teaser-text .additional:hover {
		text-decoration: underline;
	}

	.news-scienceTeaser .teaser-text .additional:after {
		content: 'd';
		padding: 0 10px 0 6px;
		font-family: "EawagIconFont" !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		font-size: 8px;
		vertical-align: middle;
		position: absolute;
		box-sizing: border-box;
		line-height: 18px;
	}

	.news-scienceTeaser .teaser-text .additional.less:after {
		content: 'r';
	}

	.news-scienceTeaser .teaser-text .additional {
		display: none;
	}

	.news-scienceTeaser .teaser-text .additional.show {
		display: block;
	}

	.news-scienceTeaser .teaser-text .bodytext a:before {
		position: relative;
	}

	.news-scienceTeaser .more {
		display: none;
	}

	.news-scienceTeaser .more-news {
		float: left;
	}

.news-error {
	display: none;
	height: auto;
	width: 100%;
}

.news-error h3 {
	color: red;
}

.news-list-container .topnews .news-list-date {
	position: relative;
	display: block;
	top: 10px;
	line-height: 45px;
}

aside .news-list-container .more-news {
	display: none;
}

.news-related .news-related-files-link a{
	display: inline;
	/*margin-left: 27px;*/
}

.news-related .news-related-files-link a:before {
	content: "c";
	font-family: "EawagIconFont";
	color: #0C5574;
	vertical-align: sub;
	padding-right: 7px;
	font-size: 18px;
	display: inline-block;
	margin-left: -28px;
	position: absolute;
}

@media (min-width: 801px) {
	.news-single .news-userprofiles {
		margin-top: 70px;
	}
}

@media (max-width: 800px) {
	div.newsMover {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 1px solid #C8C6BF;

	}

	div.newsMover .header {
		margin-bottom: 5px;
	}

	div.newsMover + .newsMover {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.news-backlink-wrap {
		top: 40px;
	}

	.news-single .article {
		margin-top: 85px;
	}

}

@media (max-width: 450px) {
	.news .default-news .news-information {
		width: 100%;
	}

	.news-single ul.news-list-tags {
		margin: 0;
		padding: 0;
		float: none;
	}

	.news-single ul.news-list-tags li {
		line-height: 20px;
	}

	.news-single ul.news-list-tags li:nth-child(2) {
		clear: both;
		margin-left: 0;
		padding-left: 0;
	}

	.news-backlink-wrap {
		display: none;
	}

	.news-single .article {
		margin-top: 30px;
	}

}


/* home */
.layout-home .news-list-container .news-list-date {
	font-size: inherit;
	line-height: inherit;
}
.layout-home .news-list-container .news-list-date:after {
	content: ' – '
}

@media print {

	.tx-socialshare,
	.backLink,
	.news-backlink-wrap{
		display: none;
	}
	
}
