@charset "UTF-8";

@font-face {
  font-family: "EawagIconFont";
  src:url('vhs-assets-css-98aa9220c6fa830ea1a2660a55bb6099.woff') format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "EawagIconFont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "EawagIconFont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-close:before {
  content: "a";
}
.icon-cv-download:before {
  content: "b";
}
.icon-document-download:before {
  content: "c";
}
.icon-down:before {
  content: "d";
}
.icon-send-mail:before {
  content: "e";
}
.icon-share-mail:before {
  content: "f";
}
.icon-edit:before {
  content: "g";
}
.icon-facebook:before {
  content: "h";
}
.icon-google:before {
  content: "i";
}
.icon-home:before {
  content: "j";
}
.icon-info:before {
  content: "k";
}
.icon-calendar:before {
  content: "l";
}
.icon-erxternal-link:before {
  content: "m";
}
.icon-linkedin:before {
  content: "n";
}
.icon-rss:before {
  content: "o";
}
.icon-search:before {
  content: "p";
}
.icon-twitter:before {
  content: "q";
}
.icon-up:before {
  content: "r";
}
.icon-vcard:before {
  content: "s";
}
.icon-forward:before {
  content: "t";
}
.icon-xing:before {
  content: "u";
}
.icon-back:before {
  content: "v";
}
.icon-reset:before {
  content: "w";
}
.icon-researchgate:before {
  content: "y";
}
.icon-menu:before {
  content: "x";
}
.icon-clock:before {
  content: "z";
}
.icon-clock-1:before {
  content: "A";
}
.icon-question:before {
  content: "C";
}
.icon-floppy:before {
  content: "D";
}
.icon-arrow-circle-down-line:before {
  content: "E";
}
.icon-user:before {
  content: "F";
}
.icon-cutlery:before {
  content: "G";
}
.icon-mail:before {
  content: "B";
}
.icon-trash-bin:before {
  content: "H";
}
.icon-wordpress:before {
  content: "I";
}
.icon-googlescholar:before,
.icon-scholar:before {
  content: "J";
}

