/*
<rde-dm:attribute mode="write" attribute="request:rdeResponseMimetype" op="set" value="text/css"/> 
<rde-dm:query searchable="false" >
*/


.coda-slider-wrapper { padding: 0px; margin: 0px; height: 130px; }
    .coda-slider { }
    
    /* Use this to keep the slider content contained in a box even when JavaScript is disabled */
    .coda-slider-no-js .coda-slider { height: 100px; overflow: auto !important; padding: 0px }
    
    /* Change the width of the entire slider (without dynamic arrows) */
    .coda-slider { width: 800px; margin-left: 40px; margin-top: 30px; } 
    .coda-slider .panel { width: 800px; } 
    
    /* Change margin and width of the slider (with dynamic arrows) */
    .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 800px;}
    .coda-slider-wrapper {margin: 0px; padding: 0px;}
    .arrows .coda-slider { margin: 0px; padding: 0px; }
    
    /* Arrow styling */
    .coda-nav-left a, .coda-nav-right a { color: #6496B9; padding: 0; width: 10px }
    
    /* Tab nav */
    .coda-nav ul li a.current { background: #39c }
    
    /* Panel padding */
    .coda-slider .panel-wrapper { padding: 0px; margin: 0px; }
    
    /* Preloader */
    .coda-slider p.loading { padding: 20px; text-align: center }
/* Don't change anything below here unless you know what you're doing */
    /* Tabbed nav */
    .coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden }
    .coda-nav ul li { display: inline }
    .coda-nav ul li a { background: #000; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none }
    
    /* Miscellaneous */
    .coda-slider-wrapper { clear: both; overflow: auto }
    .coda-slider { float: left; overflow: hidden; position: relative }
    .coda-slider .panel { display: block; float: left }
    .coda-slider .panel-container { position: relative }
    .coda-nav-left, .coda-nav-right { float: left }
    .coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
 
/*
</rde-dm:query>
*/