/*
 * Galleria Classic Theme
 * Copyright (c) 2010, Aino
 * Licensed under the MIT license.
 */
 
.slideshow {
padding: 0;
}
body .galleria-lightbox-shadow,
body .galleria-lightbox-content  {
background:none;
}
.galleria-lightbox-info {
color: #fff;
bottom: 0;
left: 0;
width: 100%;
text-align: left;
}
.galleria-lightbox-counter {
text-align: center;
position: absolute;
top: -58px;
width: 60%;
margin: 0 20%;
}
.galleria-lightbox-title {
padding: 10px;
font-size:16px;
color:#FFFFFF;
display: block;
position: relative;
top: 30 px;
opacity: 0.8!important;
background: transparent url("/static/global/de/media/bg_alpha_black.png") 0 0 repeat;
}
.galleria-lightbox-close {
top: 0 px;
right: 5px;
height: 22px;
width: 22px;
text-indent: -9999px;
background-color: transparent;
background-position: -748px -5px;
}
.galleria-lightbox-prevholder,
.galleria-lightbox-nextholder {
position: absolute;
bottom:30px;
width: 50%;
height: 40px;
left: 0px;
z-index: 9999;
zoom: 1;
opacity: 1.0!important;
background: transparent url("/static/global/de/media/bg_alpha_black.png") 0 0 repeat;
}
.galleria-lightbox-nextholder {
left: auto;
right: 0px;
}
.galleria-lightbox-prev,
.galleria-lightbox-next {
cursor: pointer;
bottom:9px;
width: 22px;
height: 22px;
left:15px;
z-index: 9999;
position: absolute;
text-indent: -9999px;
background-position: 0 -5px;
background-color: transparent;
}
.galleria-lightbox-next {
right: 15px;
left: auto;
background-position: -296px -5px;
}
.slideshow-wrapper {
margin-bottom: 5px; /* 20px */
padding: 0 0 25px;
}
.slideshow-wrapper h3 {
margin: 5px 0;
}
.hide-nav .galleria-image-nav,
.hide-nav .galleria-counter{
display: none !important;
}
/* end */
 
.galleria-container {
    position: relative;
    /* overflow: hidden; */
    background: #fff;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
    background: #eceded;
}
.galleria-thumbnails-container {
    height: 50px;
    bottom: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    text-align: right;
    color: #fff;
    font-size: 12px;
    z-index: 99;
}
.galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(/static/global/de/media/classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
    width: 100%;
    /* top: 315px; */
    left: 0;
    z-index: 2;
    position: absolute;
}
.slideshow-small .galleria-info {
    top: 150px;
}
.slideshow-medium .galleria-info {
  /*  top: 315px; */
    bottom: -40px;
    height: 40px;
}
.galleria-info-text {
    /* background-color: #000; */
    /* padding: 12px; */
    display: block;
    /* IE7 */ zoom:1;
}
.galleria-info-title {
    /* font-size: 14px; */
    /* font-weight: bold; */
    margin: 7px 0;
    display: none;
}
.galleria-info-description {
    /* margin: 10px 0; */
    display: none;
    /* color: #999; */
}
.galleria-info-close {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: -753px -11px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
}
.notouch .galleria-info-close:hover{
    /* opacity:1; */
    /* filter: alpha(opacity=100); */
}
.touch .galleria-info-close:active{
    /* opacity:1; */
    /* filter: alpha(opacity=100); */
}
.galleria-info-link {
    background-position: -669px -5px;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
}
.notouch .galleria-info-link:hover {
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
}
.touch .galleria-info-link:active {
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
}
.galleria-image-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 0;
    z-index: 98;
    background: transparent url(/static/global/de/media/bg_alpha_black.png) 0 0 repeat;
}
.galleria-image-nav-left,
.galleria-image-nav-right {
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 10px;
    z-index: 2;
    top: 11px;
    background-position: 0 -5px;
}
.galleria-image-nav-right {
    left: auto;
    right: 10px;
    background-position: -296px -5px;
    z-index: 2;
}
.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
}
.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
    /* opacity: 1; */
    /* filter: alpha(opacity=100); */
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
    filter: alpha(opacity=80);
}
.galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}
.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right,
body .galleria-lightbox-prev,
body .galleria-lightbox-next,
body .galleria-lightbox-close {
    background-image: url(/static/global/de/media/classic-map.png);
    background-repeat: no-repeat;
}