.wrapper-processtech {
padding:30px 0 30px 5px;
overflow: hidden;
background: #FFFFFF;
clear: both;
}
.box-processtech {
width: 208px;
height: 170px;
float: left;
overflow: hidden;
margin: 0 10px 10px;
border-bottom: 0px solid red;
}
.box-processtech a {
display: block;
overflow: hidden;
text-decoration: none;
color: #000;
}
.box-processtech a h2 {
display: block;
color: #000;
margin-top: -11px;
}
.box-processtech a span.link {
display: block;
background: transparent url(/static/global/de/media/Pfeil_blau.gif) 0 50% no-repeat;
padding: 0 0 0 17px;
color: rgb(168,167,167);
}
.box-processtech a span.link:hover {
color: rgb(255,155,50);
background: transparent url(/static/global/de/media/arrowWebsite_orange.png) 0 50% no-repeat;
}