@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=b2320696-6fbf-4ce5-808e-8f02dcd6b123");
/*

*/
@font-face {
    font-family: "HelveticaNeueW01-45Ligh";
    src: url("/static/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix") format("eot"); /* IE9 */
}
@font-face {
    font-family: "HelveticaNeueW01-45Ligh";
    src: url("/static/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix"); /* IE6-IE8 */
    src: url("/static/fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), /* Modern Browsers */
         url("/static/fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), /* Safari, Android, iOS */
         url("/static/fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "HelveticaNeueW01-65Medi";
    src: url("/static/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix") format("eot");
}
@font-face {
    font-family:"HelveticaNeueW01-65Medi";
    src: url("/static/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix");
    src: url("/static/fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),
         url("/static/fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),
         url("/static/fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW01-75Bold";
    src: url("/static/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix") format("eot");
}
@font-face {
    font-family: "HelveticaNeueW01-75Bold";
    src: url("/static/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix");
    src: url("/static/fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),
         url("/static/fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),
         url("/static/fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW10-45Ligh";
    src: url("/static/fonts/5b85c7cc-6ad4-4226-83f5-9d19e2974123.eot?iefix") format("eot");
}
@font-face {
    font-family: "HelveticaNeueW10-45Ligh";
    src: url("/static/fonts/5b85c7cc-6ad4-4226-83f5-9d19e2974123.eot?iefix");
    src: url("/static/fonts/835e7b4f-b524-4374-b57b-9a8fc555fd4e.woff") format("woff"),
         url("/static/fonts/2c694ef6-9615-473e-8cf4-d8d00c6bd973.ttf") format("truetype"),
         url("/static/fonts/3fc84193-a13f-4fe8-87f7-238748a4ac54.svg#3fc84193-a13f-4fe8-87f7-238748a4ac54") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW10-65Medi";
    src: url("/static/fonts/7092fdcc-7036-48ce-ae23-cfbc9be2e3b0.eot?iefix") format("eot");
}
@font-face {
    font-family: "HelveticaNeueW10-65Medi";
    src: url("/static/fonts/7092fdcc-7036-48ce-ae23-cfbc9be2e3b0.eot?iefix");
    src: url("/static/fonts/5b29e833-1b7a-40ab-82a5-cfd69c8650f4.woff") format("woff"),
         url("/static/fonts/b0298148-2d59-44d1-9ec9-1ca6bb097603.ttf") format("truetype"),
         url("/static/fonts/ae1dea8c-a953-4845-b616-74a257ba72e6.svg#ae1dea8c-a953-4845-b616-74a257ba72e6") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW10-75Bold";
    src: url("/static/fonts/41fb73ed-90c8-456d-838e-254f4dfda106.eot?iefix") format("eot");
}
@font-face {
    font-family: "HelveticaNeueW10-75Bold";
    src: url("/static/fonts/41fb73ed-90c8-456d-838e-254f4dfda106.eot?iefix");
    src: url("/static/fonts/d85949a1-c37a-43f7-9d09-fb056acf0c27.woff") format("woff"),
         url("/static/fonts/5289fb0d-053f-4fac-9c67-2d02365d6d05.ttf") format("truetype"),
         url("/static/fonts/1376b116-8954-4534-8045-eabe8e2fcaa4.svg#1376b116-8954-4534-8045-eabe8e2fcaa4") format("svg");
}
@font-face {
    font-family: "MSung-PRC-Bold";
    src: url("/static/fonts/ad0e19f1-d9ef-4079-bc06-837412713d17.eot?iefix") format("eot");
}
@font-face {
    font-family: "MSung-PRC-Bold";
    src: url("/static/fonts/ad0e19f1-d9ef-4079-bc06-837412713d17.eot?iefix");
    src: url("/static/fonts/f127b77b-43bf-4137-89bc-2954a678f36a.woff") format("woff"),
         url("/static/fonts/9bebd8f3-8f36-4d2a-8b27-048bbca15cbb.ttf") format("truetype"),
         url("/static/fonts/b9cf5845-3d53-4382-b127-3859c1961226.svg#b9cf5845-3d53-4382-b127-3859c1961226") format("svg");
}
@font-face {
    font-family: "MSung-PRC-Light";
    src: url("/static/fonts/05418a55-9aa4-4b8f-a72c-c04191176f78.eot?iefix") format("eot");
}
@font-face {
    font-family: "MSung-PRC-Light";
    src: url("/static/fonts/05418a55-9aa4-4b8f-a72c-c04191176f78.eot?iefix");
    src: url("/static/fonts/2f3cf22d-ce1e-4a2d-a217-6a6614b619d4.woff") format("woff"),
         url("/static/fonts/0e074913-c15a-418e-8e63-4c468d0b354c.ttf") format("truetype"),
         url("/static/fonts/94961b3d-6c3e-4f89-89ea-76ddfc6566ae.svg#94961b3d-6c3e-4f89-89ea-76ddfc6566ae") format("svg");
}
@font-face {
    font-family: "MSung-PRC-Medium";
    src: url("/static/fonts/a843dce3-63aa-4a04-9adc-1da537444aff.eot?iefix") format("eot");
}
@font-face {
    font-family: "MSung-PRC-Medium";
    src: url("/static/fonts/a843dce3-63aa-4a04-9adc-1da537444aff.eot?iefix");
    src: url("/static/fonts/23044092-37f1-4f68-b0fc-dd3d574c2490.woff") format("woff"),
         url("/static/fonts/31aa83b3-dcd7-4fd8-bff2-ed1e59e2705d.ttf") format("truetype"),
         url("/static/fonts/3d8b582f-f0af-4ced-b49d-0c305aee8683.svg#3d8b582f-f0af-4ced-b49d-0c305aee8683") format("svg");
}
@font-face {
    font-family: "MSung-PRC-Xbold";
    src: url("/static/fonts/b7028043-270a-4043-afeb-afe273224b3e.eot?iefix") format("eot");
}
@font-face    {
    font-family: "MSung-PRC-Xbold";
    src: url("/static/fonts/b7028043-270a-4043-afeb-afe273224b3e.eot?iefix");
    src: url("/static/fonts/dc73056c-d1b5-4df9-911f-5d7c39edeeb5.woff") format("woff"),
         url("/static/fonts/aa543469-b821-408c-a6bb-db99adb3ae10.ttf") format("truetype"),
         url("/static/fonts/8e3e9eef-33dc-4442-9a70-17e9ebea81d7.svg#8e3e9eef-33dc-4442-9a70-17e9ebea81d7") format("svg");
}
.NH45L {
    font-family: HelveticaNeueW01-45Ligh;
}
.NH45L-CHINESE {
    font-family: Arial, MSung-PRC-Light, Helvetica, sans-serif;
}
.NH45L-CYRILLIC {
    font-family: HelveticaNeueW10-45Ligh;
}
.NH45L-LATIN {
    font-family: HelveticaNeueW01-45Ligh;
}
.NH65M {
    font-family: HelveticaNeueW01-65Medi;
}
.NH65M-CHINESE {
    font-family: Arial, MSung-PRC-Medium, Helvetica, sans-serif;
}
.NH65M-CYRILLIC {
    font-family: HelveticaNeueW10-65Medi;
}
.NH65M-LATIN {
    font-family: HelveticaNeueW01-65Medi;
}
.NH75B {
    font-family: HelveticaNeueW01-75Bold;
}
.NH75B-CHINESE {
    font-family: Arial, MSung-PRC-Bold, Helvetica, sans-serif;
}
.NH75B-CYRILLIC {
    font-family: HelveticaNeueW10-75Bold;
}
.NH75B-LATIN {
    font-family: HelveticaNeueW01-75Bold;
}